option_settings:
  aws:elasticbeanstalk:application:environment:
    STATUS: "production"
    PROD_PORT: "8000"
    DEBUG: "False"
    DATABASE_URL: "postgresql://postgres:CharlyXy12345@task-flow.crq6yoq0oysn.eu-central-1.rds.amazonaws.com/taskFlow"
    REDIS_URL: "redis://172.31.22.129:6379/0"
    SECRET_KEY: "your_secure_secret_key"
  aws:elasticbeanstalk:container:python:
    WSGIPath: main:app